@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  background-color: #ffffff;
  color: #000000;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}